In [44]:
# All datas :
# http://www.stat.columbia.edu/~gelman/arm/examples/speed.dating/

# Samples help myself :
# https://github.com/g0thier/Cours_Data/blob/main/Pandas.ipynb

import matplotlib.pyplot as plt
from matplotlib.colors import Normalize
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots
import re
import seaborn as sns

In [45]:
dataset = pd.read_csv('src/Speed Dating Data.csv', encoding='ISO-8859-1')

In [46]:
# Many columns have missing informations 
pourcentage_valeur_manquante = 100*dataset.isnull().sum()/dataset.shape[0]
pourcentage_valeur_manquante = pourcentage_valeur_manquante.sort_values(ascending=True)
pourcentage_valeur_manquante = [ int(round(x)) for x in pourcentage_valeur_manquante]
''.join(str(pourcentage_valeur_manquante))

'[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 8, 9, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 13, 13, 13, 14, 22, 23, 23, 23, 23, 23, 23, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 41, 41, 41, 41, 41, 41, 48, 48, 48, 48, 48, 49, 51, 51, 51, 51, 51, 51, 52, 52, 52, 52, 52, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 57, 63, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 77, 77, 79, 82, 92]'

In [47]:
# And no one row have entirely completed informations 
dataset.dropna()

Empty DataFrame
Columns: [iid, id, gender, idg, condtn, wave, round, position, positin1, order, partner, pid, match, int_corr, samerace, age_o, race_o, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, pf_o_sha, dec_o, attr_o, sinc_o, intel_o, fun_o, amb_o, shar_o, like_o, prob_o, met_o, age, field, field_cd, undergra, mn_sat, tuition, race, imprace, imprelig, from, zipcode, income, goal, date, go_out, career, career_c, sports, tvsports, exercise, dining, museums, art, hiking, gaming, clubbing, reading, tv, theater, movies, concerts, music, shopping, yoga, exphappy, expnum, attr1_1, sinc1_1, intel1_1, fun1_1, amb1_1, shar1_1, attr4_1, sinc4_1, intel4_1, fun4_1, amb4_1, shar4_1, attr2_1, sinc2_1, intel2_1, fun2_1, amb2_1, shar2_1, attr3_1, sinc3_1, fun3_1, intel3_1, amb3_1, attr5_1, sinc5_1, intel5_1, fun5_1, amb5_1, dec, attr, sinc, ...]
Index: []

[0 rows x 195 columns]

In [48]:
# Without documentation but in dataset:
not_documented = ["pf_o_sin","pf_o_int","pf_o_fun","pf_o_amb","pf_o_sha","sinc_o","intel_o","fun_o","amb_o","shar_o","like_o","prob_o","met_o"]
dataset = dataset.drop(columns= not_documented)
dataset.shape

(8378, 182)

## Speed Dating Data Key

In [49]:
general_attrib = ["iid","id","gender","idg","condtn","wave","round","position","positin1","order","partner","pid","match","int_corr","samerace","age_o","race_o","pf_o_att","dec_o","attr_o"]

## About :
* attr... : Attractive
* sinc... : Sincere
* intel... : Intelligent
* fun... : Fun
* amb... : Ambitious
* share... : Has shared interests/hobbies

## signup/Time1
Survey filled out by students that are interested in participating in order to register for the event.

In [50]:

signup = ["age","field","field_cd","undergra","mn_sat","tuition","race","imprace","imprelig","from","zipcode","income","goal","date","go_out","career","career_c"]

# How interested are you in the following activities, on a scale of 1-10?
activities = ["sports","tvsports","exercise","dining","museums","art","hiking","gaming","clubbing","reading","tv","theater","movies","concerts","music","shopping","yoga"]

# how happy do you expect to be with the people you meet during the speed-dating event?
# Out of the 20 people you will meet, how many do you expect will be interested in dating you? 
feelGoodToCome = ["exphappy","expnum"]

# We want to know what you look for in the opposite sex.
signupQ1 = ["attr1_1","sinc1_1","intel1_1","fun1_1","amb1_1","shar1_1"]

# Now we want to know what you think MOST of your fellow men/women look for in the opposite sex.
signupQ2 = ["attr4_1","sinc4_1","intel4_1","fun4_1","amb4_1","shar4_1"]

# What do you think the opposite sex looks for in a date?
signupQ3 = ["attr2_1","sinc2_1","intel2_1","fun2_1","amb2_1","shar2_1"]

# How do you think you measure up?
signupQ4 = ["attr3_1","sinc3_1","intel3_1","fun3_1","amb3_1",] 

# And finally, how do you think others perceive you? 
signupQ5 = ["attr5_1","sinc5_1","intel5_1","fun5_1","amb5_1"]

## Scorecard
Filled out by subjects after each "date" during the event.

In [51]:
# Circle “Yes” or “No” below the ID number of each person you meet to indicate whether or not you would like to see him or her again. 
scorecard = ["dec","attr","sinc","intel","fun","amb","shar","like","prob","met"]

# How many matches do you estimate you will get
scorecard_match = ["match_es"]

# We want to know what you look for in the opposite sex.
scorecardQ1 = ["attr1_s","sinc1_s","intel1_s","fun1_s","amb1_s","shar1_s",]

# Please rate your opinion of your own attributes. 
scorecardQ2 = ["attr3_s","sinc3_s","intel3_s","fun3_s","amb3_s"]

## followup/Time2

Survey is filled out the day after participating in the event.
Subjects must have submitted this in order to be sent their matches.

In [52]:
scorecard = ["satis_2","length","numdat_2"]

# Try to distribute the 100 points among these six attributes in the way that best reflects.
scorecardQ3 = ["attr7_2","sinc7_2","intel7_2","fun7_2","amb7_2","shar7_2"]

# You have 100 points to distribute among the following attributes
scorecardQ4 = ["attr1_2","sinc1_2","intel1_2","fun1_2","amb1_2","shar1_2"]

# What do you think MOST of your fellow men/women look for in the opposite sex?
scorecardQ5 = ["attr4_2","sinc4_2","intel4_2","fun4_2","amb4_2","shar4_2"]

# What do you think the opposite sex looks for in a date?
scorecardQ6 = ["attr2_2","sinc2_2","intel2_2","fun2_2","amb2_2","shar2_2",]

# How do you think you measure up?
scorecardQ7 = ["attr3_2","sinc3_2","intel3_2","fun3_2","amb3_2"]

# And finally, how do you think others perceive you?
scorecardQ8 = ["attr5_2","sinc5_2","intel5_2","fun5_2","amb5_2"]

## followup2/ Time3

Subjects filled out 3-4 weeks after they had been sent their matches

In [53]:
# you_call : Of the matches that you received
# them_cal : How many have you contacted to set up a date?
# date_3   : How many have contacted you?
## If you have been on at least one date, please answer the following:
# numdat_3 : How many of your matches have you been on a date with so far?
# num_in_3 : If yes, how many?
followup2 = ["you_call","them_cal","date_3","numdat_3","num_in_3"]

# We want to know what you look for in the opposite sex. 
followup2Q1 = ["attr1_3","sinc1_3","intel1_3","fun1_3","amb1_3","shar1_3"]

# Now, think back to your yes/no decisions during the night of the Speed Dating event. 
# Try to distribute the 100 points among these six attributes in the way that best reflects the actual importance of these attributes in your decisions.
followup2Q2 = ["attr7_3","sinc7_3","intel7_3","fun7_3","amb7_3","shar7_3"]

# Now we want to know what you think MOST of your fellow men/women look for in the opposite sex. 
followup2Q3 = ["attr4_3","sinc4_3","intel4_3","fun4_3","amb4_3","shar4_3"]

# What do you think the opposite sex looks for in a date?
followup2Q4 = ["attr2_3","sinc2_3","intel2_3","fun2_3","amb2_3","shar2_3"]

# Please rate your opinion of your own attributes
followup2Q5 = ["attr3_3","sinc3_3","intel3_3","fun3_3","amb3_3",]

# And finally, how do you think others perceive you?
followup2Q6 = ["attr5_3","sinc5_3","intel5_3","fun5_3","amb5_3"]

In [54]:

# List of all columns 
print( '","'.join(dataset.columns.to_list()) )

iid","id","gender","idg","condtn","wave","round","position","positin1","order","partner","pid","match","int_corr","samerace","age_o","race_o","pf_o_att","dec_o","attr_o","age","field","field_cd","undergra","mn_sat","tuition","race","imprace","imprelig","from","zipcode","income","goal","date","go_out","career","career_c","sports","tvsports","exercise","dining","museums","art","hiking","gaming","clubbing","reading","tv","theater","movies","concerts","music","shopping","yoga","exphappy","expnum","attr1_1","sinc1_1","intel1_1","fun1_1","amb1_1","shar1_1","attr4_1","sinc4_1","intel4_1","fun4_1","amb4_1","shar4_1","attr2_1","sinc2_1","intel2_1","fun2_1","amb2_1","shar2_1","attr3_1","sinc3_1","fun3_1","intel3_1","amb3_1","attr5_1","sinc5_1","intel5_1","fun5_1","amb5_1","dec","attr","sinc","intel","fun","amb","shar","like","prob","met","match_es","attr1_s","sinc1_s","intel1_s","fun1_s","amb1_s","shar1_s","attr3_s","sinc3_s","intel3_s","fun3_s","amb3_s","satis_2","length","numdat_2","attr7_2","sinc7_2","intel7_2","fun7_2","amb7_2","shar7_2","attr1_2","sinc1_2","intel1_2","fun1_2","amb1_2","shar1_2","attr4_2","sinc4_2","intel4_2","fun4_2","amb4_2","shar4_2","attr2_2","sinc2_2","intel2_2","fun2_2","amb2_2","shar2_2","attr3_2","sinc3_2","intel3_2","fun3_2","amb3_2","attr5_2","sinc5_2","intel5_2","fun5_2","amb5_2","you_call","them_cal","date_3","numdat_3","num_in_3","attr1_3","sinc1_3","intel1_3","fun1_3","amb1_3","shar1_3","attr7_3","sinc7_3","intel7_3","fun7_3","amb7_3","shar7_3","attr4_3","sinc4_3","intel4_3","fun4_3","amb4_3","shar4_3","attr2_3","sinc2_3","intel2_3","fun2_3","amb2_3","shar2_3","attr3_3","sinc3_3","intel3_3","fun3_3","amb3_3","attr5_3","sinc5_3","intel5_3","fun5_3","amb5_3

## Selections of reciproque match at the first wave meet

In [55]:
wave1 = dataset[dataset['wave'] == 1]
wave1

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,20,10.0,1,20,1,1,10,8,NaN,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,20,10.0,1,20,1,1,10,5,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,20,10.0,1,20,1,1,10,10,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,20,10.0,1,20,1,1,10,1,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,20,10.0,1,20,1,1,10,2,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Keep Only reciproque match

In [56]:
# Keep Only the Match for Match 
match = wave1[wave1['match'] == 1]

# Separate gender
female = match[match['gender'] == 0]
male = match[match['gender'] == 1]

# iid: unique subject number
# pid: partner’s iid number

# Merge reciproque match
match_for_match = pd.merge(male, female, left_on='pid', right_on='iid')

# Drop duplicate (in case of)
match_for_match.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False)

match_for_match

,iid_x,id_x,gender_x,idg_x,condtn_x,wave_x,round_x,position_x,positin1_x,order_x,...,attr3_3_y,sinc3_3_y,intel3_3_y,fun3_3_y,amb3_3_y,attr5_3_y,sinc5_3_y,intel5_3_y,fun5_3_y,amb5_3_y
0,12,2.0,1,4,1,1,10,10,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12,2.0,1,4,1,1,10,10,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,2.0,1,4,1,1,10,10,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,2.0,1,4,1,1,10,10,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12,2.0,1,4,1,1,10,10,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,19,9.0,1,18,1,1,10,8,NaN,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,14,4.0,1,8,1,1,10,5,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,14,4.0,1,8,1,1,10,5,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,19,9.0,1,18,1,1,10,5,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,19,9.0,1,18,1,1,10,5,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Match for match at the wave 1

In [57]:
match_for_match.to_csv(r'src/match_for_match_wave_1.csv', index=False)